.DS_Store
._*
*~
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# folders
.idea/
config.symlink/
docker.symlink/
yarn*.symlink/

# files
atom.symlink/projects*.cson
git/gitconfig.local.symlink
zsh/zshrc_local.symlink
