.DS_Store
._*
*~
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# folders
.idea/
config.symlink/
docker.symlink/

# files
atom.symlink/projects*.cson
git/gitconfig.local.symlink
yarn-config.symlink/**/*
zsh/zshrc_local.symlink
