# local/private config goes in the include
[include]
  path = ~/.gitconfig-local

[includeIf "gitdir/i:~/code/private/"]
  path = ~/code/private/.gitconfig-private

[includeIf "gitdir/i:~/code/scratch/"]
  path = ~/code/work/.gitconfig-work

[includeIf "gitdir/i:~/code/work/"]
  path = ~/code/work/.gitconfig-work

[init]
  defaultBranch = main

# [http]
#   sslVerify = false

[protocol]
  version = 2

[remote "origin"]
  prune = true

[gpg]
  # program = /opt/homebrew/bin/gpg
  format = ssh

[gpg "ssh"]
  defaultKeyCommand = ssh-add -L
  program = ssh-keygen

# [gpg "x509"]
#   program = smimesign

[tag]
  forceSignAnnotated = true

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[color "branch"]
  current = cyan reverse
  local = yellow bold
  remote = green bold

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan bold

[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = code --wait
  autocrlf = input
  pager = ""

[apply]
  whitespace = nowarn

[diff]
  tool = Kaleidoscope

[difftool]
  prompt = false

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool "icdiff"]
  # https://github.com/jeffkaufman/icdiff
  cmd = icdiff -N -U 2 $LOCAL $REMOTE

[diff "zip"]
  textconv = unzip -c -a

[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false

[merge]
  tool = Kaleidoscope

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[help]
  autocorrect = 50

[commit]
  gpgsign = true

[fetch]
  prune = true

[pull]
  rebase = true

[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to surpress warning message
  default = simple
  autoSetupRemote = true
  # gpgsign = if-asked

[rebase]
  autoStash = true

[pretty]
  changelog = * %h %s
  # info = %C(auto)%h %G? %d %s
  info = %C(auto)%h %d %s
  json = {\"sha\":\"%H\",\"author\":{\"userid\":\"%aN\",\"email\":\"%aE\",\"date\":\"%as\"},\"commiter\":{\"userid\":\"%cN\",\"email\":\"%cE\",\"date\":\"%cs\"},\"message\":\"%s\",\"tree_sha\":\"%T\",\"parents\":\"%P\"}

[alias]
  # View abbreviated SHA, description, and history graph
  l = log --oneline --decorate --graph --abbrev-commit --all --date=relative -n 10
  lg = log --pretty=info --graph --all -n 10
  lj = log --pretty=json --all -n 10
  # View the current working tree status using the short format w/ branch info
  # upgrade your git if -sb breaks for you. it's fun.
  s = status -sb
  # Show verbose output about tags, branches or remotes
  # tags = tag -l
  tags = log --no-walk --tags --pretty=info --decorate=full
  tag = tag -s
  branches = branch -avv
  remotes = remote -v
  # http://haacked.com/archive/2014/07/28/github-flow-aliases/#completing-the-pull-request
  up = pull --rebase --prune
  co = checkout
  cob = checkout -b
  ec = config --global -e
  # show who you are committing as
  # https://gist.github.com/loranallensmith/0350db8a91578f40e471d322cf244d45
  me = !git config --get user.name && git config --get user.email
  idiff = difftool -t icdiff
  # https://github.com/ahmadawais/Emoji-Log
  # https://gitmoji.dev/
  new = "!f() { git commit -S -m \"🎉 ${@:-Init}\"; }; f"
  gear = "!f() { git commit -S -m \"🔧 ${@:-Update config}\"; }; f"
  wip = "!f() { git commit -S -m \"🚧 Work in Progress\"; }; f"
  fix = "!f() { git commit -S -m \"🐛 $@\"; }; f"
  rlz = "!f() { git commit -S -m \"🔖 $1\"; git tag \"$1\" -m \"$1\" -s; }; f"
  brk = "!f() { git commit -S -m \"💥 $@\"; }; f"
  doc = "!f() { git commit -S -m \"📝 $@\"; }; f"
  dep = "!f() { git commit -S -m \"⬆️ ${@:-Update dependencies}\"; }; f"
  typo = "!f() { git commit -S -m \"✏️ ${@:-Fix typo}\"; }; f"
  # worktrees
  wt = worktree
  # https://stackoverflow.com/a/25387310
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged

[log]
  showSignature = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
