packages: [
  "atom-jinja2"
  "atom-markdown-wrapper"
  "atom-snazzy-clear-syntax"
  "atomic-chrome"
  "autocomplete-ansible"
  "autocomplete-emojis"
  "ava"
  "busy-signal"
  "date"
  "editorconfig"
  "file-icons"
  "focus-dark"
  "focus-light"
  "import-sf-mono"
  "intentions"
  "language-ansible"
  "language-babel"
  "language-csv"
  "language-diff"
  "language-docker"
  "language-dotenv"
  "language-generic-config"
  "language-gitignore"
  "language-graphql"
  "language-hcl"
  "language-ini"
  "language-jenkinsfile"
  "language-nunjucks"
  "language-terraform"
  "linter"
  "linter-ansible-linting"
  "linter-terraform-syntax"
  "linter-ui-default"
  "linter-xo"
  "markdown-table-formatter"
  "markdown-toc"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "pdf-view"
  "prettier-atom"
  "project-manager"
  "project-viewer"
  "screenshot"
  "script"
  "tabs-to-spaces"
  "teletype"
  "vim-mode-plus"
]
