"*":
  "atom-material-ui":
    colors:
      abaseColor: "#3e82c7"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  "autocomplete-emojis": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "language-asciidoc"
      "language-applescript"
      "markdown-preview-plus"
      "markdown-writer"
      "language-apache"
      "merge-conflicts"
      "busy-signal"
      "platformio-ide"
      "platformio-ide-debugger"
      "platformio-ide-terminal"
      "linter-xo"
      "markdown-toc"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-table-formatter"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-snazzy-clear-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "SF Mono"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "264f4e4f-4a7c-fed3-4527-a6dd33fc6c30"
  "file-icons":
    coloured: false
    onChanges: true
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-control":
    showGitFlowButton: false
  "git-plus":
    general:
      analytics: false
  github:
    gitDiagnostics: true
  "linter-gcc":
    gccSuppressWarnings: true
  "linter-ui-default":
    panelHeight: 69
    panelRepresents: "Current Line"
    showPanel: true
    showProviderName: true
  "markdown-deluxe":
    fontFamily: "SF UI Text"
    fontSize: "18px/1.8"
    scopes: "source.gfm"
    width: "60em"
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: true
    useGitHubStyle: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "markdown-table-formatter": {}
  "markdown-writer":
    tableAlignment: "left"
    tableExtraPipes: true
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    displayPluginsControls: false
    plugins:
      bookmarks: true
      "git-diff": true
      "git-diffDecorationsZIndex": 0
    scrollAnimation: true
  "package-generator":
    createInDevMode: true
  "platformio-ide":
    advanced:
      customPATH: "/usr/local/bin/platformio"
      showPlatformIOFiles: true
    autoUpdateIDE: false
    showPIOHome: false
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      bracketSpacing: false
      printWidth: 120
      singleQuote: true
    silenceErrors: true
    useEslint: true
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "group"
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tool-bar":
    position: "Left"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    softWrapHangingIndent: 2
".ini.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
"source.gfm":
  editor:
    softWrap: true
