"*":
  "atom-package-deps":
    ignored: []
  "autocomplete-emojis":
    enableUnicodeEmojis: false
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-table-formatter"
      "ava"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  date:
    dateFormat: "YYYY-MM-DD"
    dateTimeFormat: "Date Format"
  editor:
    fontFamily: "SF Mono"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "264f4e4f-4a7c-fed3-4527-a6dd33fc6c30"
  github: {}
  "linter-ui-default":
    panelHeight: 69
    panelRepresents: "Current Line"
    showPanel: true
    showProviderName: true
  "markdown-preview":
    breakOnSingleNewline: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
    liveUpdate: true
    useGitHubStyle: true
  "markdown-table-formatter": {}
  "pdf-view":
    fitToWidthOnOpen: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      bracketSpacing: false
      printWidth: 120
      singleQuote: true
    silenceErrors: true
    useEslint: true
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "group"
  tabs:
    enableVcsColoring: true
  "tree-view":
    squashDirectoryNames: false
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    softWrapHangingIndent: 2
".ini.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
"source.gfm":
  editor:
    softWrap: true
