packages: [
  "atom-markdown-wrapper"
  "atom-snazzy-clear-syntax"
  "atomic-chrome"
  "autocomplete-emojis"
  "ava"
  "busy-signal"
  "date"
  "editorconfig"
  "focus-dark"
  "focus-light"
  "import-sf-mono"
  "intentions"
  "language-babel"
  "language-csv"
  "language-docker"
  "language-dotenv"
  "language-graphql"
  "language-terraform"
  "linter"
  "linter-terraform-syntax"
  "linter-ui-default"
  "linter-xo"
  "markdown-table-formatter"
  "markdown-toc"
  "package-sync"
  "pdf-view"
  "prettier-atom"
  "project-manager"
  "tabs-to-spaces"
  "teletype"
  "vim-mode-plus"
]
