dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/stoe/.dotfiles"
  ]
  icon: "icon-terminal"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "private"
alfred:
  title: "alfred"
  group: "private"
  paths: [
    "/Users/stoe/private/alfred"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
services:
  title: "Services"
  paths: [
    "/Users/stoe/github/services"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub"
githubdocs:
  title: "Docs"
  icon: "icon-octoface"
  group: "GitHub"
  paths: [
    "/Users/stoe/github/docs"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
"upstairs-renovation":
  title: "upstairs-renovation"
  icon: "icon-home"
  group: "private"
  paths: [
    "/Users/stoe/Documents/Umbau"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
githubdocuments:
  title: "GitHub Documents"
  paths: [
    "/Users/stoe/Documents/_ GitHub"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub"
