services:
  title: "Services"
  paths: [
    "/Users/stoe/github/services"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub Services"
servicesengineering:
  title: "Services Engineering"
  paths: [
    "/Users/stoe/github/services-engineering"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub Services"
servicesoperations:
  title: "Services Operations"
  paths: [
    "/Users/stoe/github/services-operations"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub Services"
servicestraining:
  title: "Services Training"
  paths: [
    "/Users/stoe/github/services-training"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub Services"
githubdocs:
  title: "GitHubber Docs"
  paths: [
    "/Users/stoe/github/docs"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub"
githubdocuments:
  title: "GitHub Documents"
  paths: [
    "/Users/stoe/Documents/_ GitHub"
  ]
  icon: "icon-octoface"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "GitHub"
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/stoe/.dotfiles"
  ]
  icon: "icon-terminal"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
  group: "private"
alfred:
  title: "alfred"
  group: "private"
  paths: [
    "/Users/stoe/private/alfred"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
"upstairs-renovation":
  title: "upstairs-renovation"
  icon: "icon-home"
  group: "private"
  paths: [
    "/Users/stoe/Documents/Umbau"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
atomlinkwrap:
  title: "Atom Linkwrap"
  paths: [
    "/Users/stoe/github/atom-linkwrap"
  ]
  icon: "icon-rocket"
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 80
    "project-manager.showPath": true
  group: "atom"
devenv:
  title: "Dev Env"
  icon: "icon-home"
  group: "private"
  paths: [
    "/Users/stoe/private/dev-configs"
  ]
  settings:
    "editor.tabLength": 2
    "editor.preferredLineLength": 120
    "project-manager.showPath": true
