'.source.json':
  'package.json':
    'prefix': ':package'
    'body': """
    {
      "name": "${1}",
      "version": "0.0.1",
      "description": "${2}",
      "keywords": [],
      "author": {
        "name": "Stefan Stölzle",
        "email": "stefan@github.com",
        "url": "stefan.stoelzle.me"
      },
      "license": "MIT",
      "homepage": "https://github.com/stoe/${1}#readme",
      "repository": "stoe/${1}",
      "bugs": {
        "url": "https://github.com/stoe/${1}/issues"
      },
      "engines": {
        "node": ">=6"
      },
      "bin": {},
      "main": "index.js",
      "scripts": {
        "test": "xo && ava -v"
      },
      "dependencies": {},
      "devDependencies": {},
      "ava": {
        "files": [
          "test/*.t.js"
        ]
      },
      "xo": {
        "space": 2
      },
      "snyk": true
    }
    """
