@import "colors";

[data-grammar*="gfm"]::shadow {
    .markup.strike {
        position: relative;
        color: fade(@dark-gray, 50%);

        &::after {
            content: "";
            position: absolute;
            top: calc(50% + 4px);
            left: 0;
            right: 0;
            height: 1px;
            background-color: fade(@dark-gray, 20%);
        }
    }
    .table .border {
        color: fade(@dark-gray, 50%);
    }
}
