"*":
  "exception-reporting":
    userId: "264f4e4f-4a7c-fed3-4527-a6dd33fc6c30"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    disabledPackages: [
      "linter-eslint"
      "linter-csslint"
      "linter-jshint"
      "linter-jsonlint"
      "linter-less"
      "linter-scss-lint"
      "linter-shellcheck"
      "linter-coffeelint"
      "linter-php"
      "minimap-autohide"
      "minimap-linter"
      "pigments"
    ]
  editor:
    invisibles: {}
    fontFamily: "Anonymous Pro"
    fontSize: 16
    tabLength: 4
    showIndentGuide: true
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "group"
  "gist-it":
    newGistsDefaultToPrivate: true
  minimap:
    scrollAnimation: true
    plugins:
      "git-diff": true
      linter: true
      bookmarks: true
      "minimap-autohide": true
    absoluteMode: true
  "linter-php":
    executablePath: "/usr/local/opt/php56/bin/php"
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "minimap-linter": {}
  "linter-jshint":
    lintInlineJavaScript: true
    disableWhenNoJshintrcFileInPath: true
  linter: {}
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
