"*":
  "atom-pair": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "linter-eslint"
      "linter-csslint"
      "linter-jshint"
      "linter-jsonlint"
      "linter-less"
      "linter-scss-lint"
      "linter-coffeelint"
      "linter-php"
      "pigments"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "264f4e4f-4a7c-fed3-4527-a6dd33fc6c30"
  "file-icons":
    onChanges: true
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-plus": {}
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/local/opt/php56/bin/php"
  "linter-ruby": {}
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
    scrollAnimation: true
  "minimap-linter": {}
  "package-generator":
    createInDevMode: true
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "group"
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tool-bar":
    position: "Left"
  "tool-bar-almighty": {}
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    softWrapHangingIndent: 2
".ini.source":
  editor:
    softWrapHangingIndent: 2
