"*":
  "atom-material-ui":
    colors:
      genAccent: true
    fonts: {}
    panels:
      panelContrast: true
    tabs:
      rippleAccentColor: true
      tintedTabBar: true
    treeView:
      compactList: true
      compactTreeView: true
    ui:
      disableAnimations: true
      panelContrast: true
      panelShadows: true
      slimScrollbar: true
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "linter-eslint"
      "linter-csslint"
      "linter-jshint"
      "linter-jsonlint"
      "linter-less"
      "linter-scss-lint"
      "linter-shellcheck"
      "linter-coffeelint"
      "linter-php"
      "pigments"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    invisibles: {}
    showIndentGuide: true
    softWrapHangingIndent: 2
    tabLength: 4
  "exception-reporting":
    userId: "264f4e4f-4a7c-fed3-4527-a6dd33fc6c30"
  "gist-it":
    newGistsDefaultToPrivate: true
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/local/opt/php56/bin/php"
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "markdown-preview": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      "git-diff": true
      linter: true
      "minimap-autohide": true
      "minimap-hide": true
    scrollAnimation: true
  "minimap-linter": {}
  "package-generator":
    createInDevMode: true
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "group"
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    softWrapHangingIndent: 2
